<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DTL</title>
        {% block stylesheet %}
            
        {% endblock %}
    </head>

    <body>
        <!-- This is called DTL (Django Template Language)-->
        <header>
            {% include 'header.html'%}
        </header>

        <main>            
            {% block body %}

            {% endblock %}    
        </main>
        
        <footer>
            {% include 'footer.html'%}
        </footer>
    </body>
</html>