<ul class="social_icon">
    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
</ul>

<ul class="menu">
    <li><a href="/playground">Home</a></li>
    <li><a href="/playground/about-us">About us</a></li>
    <li><a href="/playground/services">Services</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="/playground/contacts">Contacts</a></li>
</ul>
<p>©2021 ARJ Tech | All Rights Reserved</p>